.App {
    width: 97%;
    height: 100%;
    background-color: rgb(172, 237, 237);
    padding: 20px;
    overflow: hidden;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.rectangularContainer {
    width : 98%;
    background-color: rgb(231, 249, 249);
    border-radius: 20px;
    padding: 16px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

h1 {
    text-align: center ;
}